.Welcome-text {
  color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%; 
  height: 100vh; 
  padding: 20px; 
  box-sizing: border-box; 
}

.Welcome-text h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 10%;
}

.Welcome-text h2 {
  font-size: 3rem;
  font-weight: bolder;
}

.Welcome-text p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 22px;
}

.Welcome-text span {
  color: orange;
}


@media (max-width: 768px) {
  .Welcome-text {
    padding: 20px;
  }

  .Welcome-text h1 {
    font-size: 2.5rem;
  }

  .Welcome-text h2 {
    font-size: 2rem;
  }

  .Welcome-text p {
    font-size: 1.2rem;
  }
}


@media (max-width: 480px) {
  .Welcome-text h1 {
    font-size: 2rem;
  }

  .Welcome-text h2 {
    font-size: 1.5rem;
  }

  .Welcome-text p {
    font-size: 1rem;
  }
}
